<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- <nav class="navbar__container">
            
        </nav> -->

      <nav class="sidebar__container">
        <img src="/assets/logo.png" />

        <div>
          <a><i class="fa-solid fa-house"></i> Home</a>
        </div>
        <div>
          <a><i class="fa-solid fa-user"></i> User Information</a>
        </div>
        <div>
          <a class="active"
            ><i class="fa-solid fa-tents"></i> Shelter Information</a
          >
        </div>

        <div>
          <a><i class="fa-solid fa-folder"></i> Animal Record</a>
        </div>
        <div>
          <a><i class="fa-solid fa-paw"></i> Adoption Record</a>
        </div>

        <button>
          <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
        </button>

        <span><i class="fa-solid fa-user-shield"></i> Admin Profile</span>
      </nav>

      <section class="animal__record__wrapper">

        <div class="row">
            <div class="filter__container">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="fa-solid fa-arrow-right"></i>
              </div>
      
              <div class="search__container">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input type="text" placeholder="Search Here">
              </div>  

              <span><i class="fa-solid fa-user-shield"></i> Admin Profile</span>

        </div>

        <div class="row">
            <h1>Animal Record</h1>

              <div class="add__record__container">
                <i class="fa-solid fa-circle-down download"></i>
                <button><i class="fa-solid fa-plus"></i> Add Record</button>

              <i class="fa-solid fa-ellipsis dotdotdot"></i>

              </div>  

        </div>
        

        <section class="animal__list__record__wrapper">
            
            <section class="table__row table__header">
                <div class="header title">#</div>
                <div class="header title">Name</div>
                <div class="header title">Breed</div>
                <div class="header title">Type</div>
                <div class="header title">Gender</div>
                <div class="header title">Age</div>
                <div class="header title">Description (color) </div>
                <div class="header title">Status </div>
            </section>
            
        </section>
      </section>
    </main>
  </body>
</html>
